:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
}

.file-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.file-wrapper > button {
  background-color: transparent;
  border: none;

  color: #f6f6f6;
  font-size: 14px;

  display: flex;
  align-items: end;
  gap: 4px;
  cursor: pointer;
}
